.container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    min-width: 85px;
    padding: 4px 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 122, 2);
    border: none;
    border-radius: 4px;
    box-shadow: -0.5px 0 4px rgb(154, 93, 247);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(8, 24, 24)d;
    transition: 0.4s;
}

.btn:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 1px rgb(253, 1, 1);
    transition: 0.4s;
}

.btn:active {
    background-color: #ff0000;
}

.btn:active>.myIconGood {
    fill: red;
}